<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Fitoussi Stephane</title>
        <!-- Bootstrap core CSS -->
        <link href="../../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="../../css/fonts/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/devicons/css/devicons.min.css" rel="stylesheet">
        <link href="../../css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link href="../../css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
        <!-- Custom styles for this template -->
        <link href="../../css/resume.min.css" rel="stylesheet">
        <link href="../../css/style.css" rel="stylesheet">

    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none"></span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.jpg" alt="">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/blog/">blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/connection">connection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/registration">registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contact">contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid p-0">
        {% block body %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="http://blog-pro.com/js/libs/jquery/jquery.min.js"></script>
    <script src="http://blog-pro.com/js/libs/bootstrap/bootstrap.bundle.min.js"></script>

    {#    <link href="../../js/libs/fileinput/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>#}
    <script src="http://blog-pro.com/js/libs/fileinput/plugins/sortable.js" type="text/javascript"></script>
    <script src="http://blog-pro.com/js/libs/fileinput/fileinput.min.js" type="text/javascript"></script>
    <script src="http://blog-pro.com/js/libs/fileinput/locales/fr.js" type="text/javascript"></script>
    <script src="http://blog-pro.com/js/libs/fileinput/themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="http://blog-pro.com/js/libs/fileinput/themes/fa/theme.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' +
                    'onclick="alert(\'Call your custom code here.\')">' +
                    '<i class="glyphicon glyphicon-tag"></i>' +
                    '</button>';
            $("#avatar-1").fileinput({
                overwriteInitial: true,
                maxFileSize: 1500,
                showClose: false,
                showCaption: false,
                browseLabel: '',
                removeLabel: '',
                browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
                removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                removeTitle: 'Cancel or reset changes',
                elErrorContainer: '#kv-avatar-errors-1',
                msgErrorClass: 'alert alert-block alert-danger',
                defaultPreviewContent: '<img src="/img/avatars/default_avatar_male.jpg" alt="Your Avatar">',
                layoutTemplates: {main2: '{preview} ' + btnCust + ' {remove} {browse}'},
                allowedFileExtensions: ["jpg", "png", "gif"]
            });
        });

    </script>   
</body>

</html>


