.help-block li {
    color: red;
    list-style: none;
    margin-left: -40px;
}

.margin20{
    margin:50px; 
}

.margin10bottom{
    margin-bottom:10px; 
}

a.postBlog  {
    background-color: grey;
} 

a.postBlog:hover  {
    background-color: grey;
} 

p.blog{
    margin: 15px 0;
    font-size: 1.5em;
}

.sub-title{
    color: #bdb8b8;
}

